.git-repo-row {
  box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04);
  border-radius: 6px;
  border: 1px solid #d0d7de;
  overflow: hidden;
}

.git-repo-list {
  display: grid;
  gap: 10px;
  margin: 30px;
  margin-bottom: 0;
}

.git-repo-row-details {
  max-height: calc(100% - 100px);
  width: 98%;
  overflow: scroll;
  padding: 10px;
  margin: 10px;
  position: absolute;
}

.infinite-scroll-component {
  overflow: unset !important;
}

.git-repo-row-details::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

.git-repo-row-details::-webkit-scrollbar-track {
  border-radius: 23px !important;
}

.git-repo-row-details::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 23px !important;
}

.git-repo-list.one-grid {
  grid-template-columns: auto;
  grid-gap: 30px;
}

.git-repo-list.two-grid {
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.git-repo-list.three-grid {
  grid-template-columns: auto auto auto;
}
.git-repo-list.three-grid .git-repo-status-section {
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

@media (max-width: 800px) {
  .git-repo-status-section {
    flex-direction: column;
    align-items: start !important;
    gap: 10px;
  }
}

.git-repo-first-section {
  padding: 20px 25px;
  background-color: #f6f8fa;
}

.git-repo-profile-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.git-repo-name {
  font-size: 24px;
  color: #0969da;
  font-weight: 600;
  min-width: 60%;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

.repo-owner-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #f6f8fa;
}

.git-repo-owner {
  display: flex;
  gap: 12px;
  align-items: center;
}

.git-repo-owner > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.repo-owner-name > span:first-child {
  font-size: 14px;
  color: darkgreen;
}

.repo-owner-name > span:last-child {
  font-size: 10px;
  color: blueviolet;
}

.git-repo-second-section {
  padding: 20px 25px;
}

.git-repo-third-section {
  padding: 20px 25px;
  border-top: 1px solid rgb(213, 213, 213);
}

.git-repo-description {
  color: #656d89;
  font-size: 14px;
}

.git-repo-status-details {
  display: flex;
  gap: 12px;
  height: max-content;
}

.git-repo-status-details > div {
  background: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
}

.git-repo-status-details > div > span {
  background: #e1dede;
  padding: 4px 8px;
  border-radius: 16px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 400;
}

.git-repo-status-section {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 10px;
}

.git-repo-control-status {
  margin-left: auto;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 10px;
}

.git-repo-control-status.private {
  background-color: crimson;
}

.git-repo-control-status.public {
  background-color: #59c1eb;
}

.git-repo-status-details > div i {
  margin-right: 8px;
}

.git-repo-status-details > div:last-child {
  cursor: pointer;
}

.git-date-description {
  display: flex;
  gap: 50px;
}
.git-date-description > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.git-date-description > div > span:first-child {
  color: #656d76;
  font-size: 12px;
}
.git-date-description > div > span:last-child {
  color: #656d76;
  font-size: 14px;
}

.grid-select-box {
  border: 1px solid #777;
  border-radius: 4px;
  padding: 0 5px 5px;
  width: 200px;
  background-color: #ffffff !important;
}

.grid-select-box label {
  font-size: 10px;
  text-transform: uppercase;
  color: #777;
  padding: 2px 8px 0;
}

.grid-select-box select {
  background-color: #ffffff;
  border: 0px;
  width: 100%;
  padding-left: 3px;
}

.git-repo-header {
  position: sticky;
  top: 0;
  background: black;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.git-repo-header > div:last-child {
  display: flex;
  gap: 12px;
}

.git-title {
  color: white;
  fill: white;
  display: flex;
  align-items: center;
}

.git-title svg {
  margin-right: 10px;
}
